body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: url('assets/sky-background-2.jpg') no-repeat center center fixed; ;
  background-size: cover;
}

.visible-to-screen-reader {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

.lc-content {
  min-height: calc(100vh - 70px);
  margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
  header {
    height: 10em;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #dddddd;
    background-color: #ffffff;
    -ms-grid-rows: 20px 120px auto 20px;
    grid-template-rows: 20px 120px auto 20px;
    -ms-grid-columns: 10px auto auto auto 10px;
    grid-template-columns: 10px auto auto auto 10px;
    display: grid;
  }

  .lc-logo {
    align-items: center;
    display: flex;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: auto;
  }

  .lc-menu {
    align-items: center;
    display: flex;
    height: 60px;
    margin-top: 70px;
    text-align: center;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    justify-content: flex-end;
  }

  .lc-menu ul {
    display: flex;
    height: 100%;
    justify-content: space-around;
    list-style: none;
    padding: 0 0 0 15px;
    margin: 0 auto;
  }

  .lc-menu ul>li {
    align-items: center;
    display: flex;
    margin-right: 20px;
    position: relative;
  }

  .lc-menu ul>li>.lc-menu-item-link {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 0;
    color: black;
    width: 11em;
  }

  .lc-menu .lc-menu-item-link:hover, .lc-menu .lc-menu-item-link:focus {
    background-color: #cc2418;
    color: white !important;
    outline: none;
    cursor: pointer;
  }

  .lc-menu .lc-menu-item-link .lc-menu-item-submenu {
    margin-top: 1em;
    margin-left: -1em;
    display: none;
    background-color: #f9f9f9;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
  }

  .lc-menu .lc-menu-item-link .lc-menu-item-submenu a {
    padding: 1em;
    text-decoration: none;
    display: block;
    width: 11em;
  }


  .lc-welcome-message {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    padding: 0;
  }
}

a, .lc-link {
  text-decoration: none;
  color: #c11010;
  font-weight: bold;
}

a:hover, .lc-link:hover {
  color: #7a0a7a;
  cursor: pointer;
}

.lc-logo img {
  display: block;
  max-height: 100px;
  max-width: 100%;
  width: auto;
  height: auto;
}

nav {
  width: 100%;
  background: #606060;
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: white;
  padding: 1rem;
}

nav a:hover {
  background-color: #909090;
  color: white;
  text-decoration: none;
}

.lc-welcome-message {
  text-align: center;
  font-style: italic;
}

.lc-menu-toggle, .lc-mobile-menu {
  display: none;
}

.lc-action-buttons__button {
  background-color: #eeeeee;
  border: 2px solid #c11010;
  border-radius: 30px;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 900;
  min-width: 125px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.lc-action-buttons__button:hover {
  background-color: #8B63BB;
  border-color: #7a0a7a;
}

.lc-action-buttons__button:hover a {
  color: white;
}

.lc-action-buttons__button a {
  color: #c11010;
}

.lc-action-buttons__button a:hover {
  text-decoration: none;
  color: white;
}

.lc-action-buttons__button.primary {
  margin-right: 20px;
  background-color: #c11010;
}

.lc-action-buttons__button.primary:hover {
  background-color: #7a0a7a;
}

.lc-action-buttons__button.primary a {
  color: white;
}

.lc-service-item {
  padding-bottom: .7rem;
}

.lc-service-item__item {
  font-size: 1.2em;
}

.lc-service-item__person {
  font-style: italic;
  padding-left: 1em;
}

.lc-service-item__subtext, .lc-service-item__sermon-notes {
  padding-left: 2em;
}

.lc-facebook-feed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lc-facebook-feed__post {
  align-self: center;
  padding: 2em;
  background-color: #bbbbbb;
  margin-top: 1em;
}

.lc-facebook-feed__post iframe {
  background-color: white;
}

.lc-announcement-flyer {
  text-align: center;
}

.lc-announcement-flyer img {
  width: 600px;
  border: 25px #bbbbbb solid;
  margin-top: 10px;
}

.lc-stone-soup {
  width: 600px;
  margin: auto;
  opacity: 0.9;
  background-color: #eeeeee;
  padding: 1em;
}

.lc-order-of-worship {
  width: 600px;
  margin: auto;
  opacity: 0.9;
  background-color: #eeeeee;
  padding: 1em;
}

.lc-order-of-worship__date {
  color: #c11010;
  margin: 0;
}

.lc-order-of-worship__faithlife-bulletin {
  margin-bottom: .83em;
  font-style: italic;
}

.lc-pop-up {
  background-color: rgba(3, 3, 3, 0.62);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
}

.lc-pop-up__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.lc-pop-up__modal {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(3, 3, 3, 0.16) 0 16px 32px 0, rgba(3, 3, 3, 0.1) 0px 0px 8px 0px;
  box-sizing: border-box;
  width: 600px;
  min-height: 24px;
  padding: 0 24px 24px 16px;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  word-break: break-word;
  position: relative;
}

.lc-pop-up__modal br {

}

.lc-pop-up__close {
  align-items:flex-start;
  appearance:none;
  background-color:rgba(0, 0, 0, 0);
  border: none;
  box-sizing:border-box;
  color:rgb(106, 110, 115);
  font-size:16px;
  font-stretch:100%;
  font-weight:400;
  height:36px;
  letter-spacing:normal;
  line-height:24px;
  margin: 0;
  padding: 6px 16px;
  position:absolute;
  right:16px;
  text-align:center;
  top:23px;
  user-select:none;
  white-space:nowrap;
  width:48px;
  word-spacing:0px;
  writing-mode:horizontal-tb;
  -webkit-border-image:none;
}

.lc-scripture-decorator {
  color: #7a0a7a;
  font-weight: bold;
}

.lc-sermons {
  width: 700px;
  margin: 0 auto 20px auto;
  opacity: 0.9;
  background-color: #eeeeee;
  padding: 1em;
}

.lc-sermons__date{

}

.lc-sermons__video {

}

.lc-sermons__link {
  display: block;
}

.lc-sermons__previous {

}

footer {
  background-color: darkgray;
  color: white;
  padding: 2em;
  font-size: .8em;
  font-weight: bold;
  height: 30px;
}

@media screen and (max-width: 1200px) {
  .lc-logo img {
    height: 80px;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    padding-left: .2em;
  }
  nav a {
    padding: 0.35rem;
  }

  .lc-announcement-flyer img {
    width: 80%;
    border: 25px #bbbbbb solid;
    margin-top: 10px;
  }

  .lc-stone-soup {
    width: 90%;
    margin: auto;
  }

  .lc-order-of-worship {
    width: 90%;
    padding: 1em;
  }

  .lc-menu {
    display:none;
  }

  .lc-menu-toggle {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 5px;
  }

  .lc-menu-toggle:hover {
    background-color: #bbbbbb;
  }

  .lc-action-buttons {
    margin: 15px 23px 15px;
    display: flex;
    justify-content: center;
  }

  .lc-mobile-menu {
    display: inherit;
    background: rgba(0,0,0,.9);
    bottom: 0;
    height: 100vh;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }

  .lc-mobile-menu__close {
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .lc-mobile-menu ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .lc-mobile-menu li {
    padding: 15px 0;
  }

  .lc-mobile-menu li a {
    color: #fff;
    font-size: 22px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
  }

  .lc-live-stream-link a {
    color: #c11010 !important;
  }

  .lc-live-stream-link a:hover {
    color: #7a0a7a !important;
  }

  .lc-pop-up__modal {
    max-height:calc(100% - 48px);
    max-width:calc(100% - 32px);
  }

  h1.lc-scripture-decorator {
    font-size: 150%;
    margin-top: 25px;
  }

  h2.lc-scripture-decorator {
    font-size: 120%;
  }
}

@media screen and (max-width: 600px) {
  .lc-logo img {
    height: 50px;
  }
}